# one-off scripts that don't need to be in the repo
scripts/

# Python
*.pyc
.mypy_cache
*.egg-info/
dist/
.pytest_cache/
_build/

# Anaconda
conda-dist/

# Mac
.DS_Store

# Editors
*~
*.swp
.vstags
.idea/

# Test artifacts
foo.txt
*.html
