[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flit = "*"
ipython = "*"
mypy = "*"
pylint = ">=2.4.4,<3.0.0"
pytest = ">=5.3.5,<6.0.0"
scalene = "*"
sphinx = "*"

[packages]

[pipenv]
allow_prereleases = true
